.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
  background-color: #f9f9f9;
}

.card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 230px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 0.5px solid rgb(177, 177, 205);
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.detail {
  padding: 15px;
  text-align: center;
}

.tile {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.descript {
  font-size: 10px;
  color: #555;
  margin-bottom: 10px;
}

.price {
  font-size: 16px;
  font-weight: bold;
  color: #007bff;
}

@media (max-width: 768px) {
  .card {
    width: 90%;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  .card {
    width: 45%;
  }
}
